<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table align="center" border="2">
<tr>
    <td>NAME</td>
    <td>PASSWORD</td>
    <td align="center">EMAIL ID</td>
    <td>CONTACT</td>
    <td>JOIN DATE</td>
    <td>APPROVE</td>
    <td>DECLINE</td></tr>

        {% for x in msg %}
    <tr>

        <td>{{ x.name }}</td>
        <td>{{ x.password }}</td>
        <td>{{ x.emailid }}</td>
        <td>{{ x.contact }}</td>
        <td>{{ x.doj }}</td>
        <td><form action="{% url 'approved' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="t1" value="{{ x.name }}">
           <button type="submit">YES</button>
        </form></td>
        <td><form action="{% url 'declined' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="t2" value="{{ x.name }}">
            <button type="submit">YES</button>
        </form></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>